delta-airlines-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "delta-airlines-adf"
		},
		"ls_azure_sql_database_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_azure_sql_database'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=deltaair1.database.windows.net;Initial Catalog=deltaairdb;User ID=deltaair"
		},
		"delta_airline_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://delta-airline-keyvault.vault.azure.net/"
		},
		"ls_rest_api_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://airlabs.co/api/v9/airlines"
		},
		"AzureBlobStorage1_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://deltaairlineblobstorage.blob.core.windows.net/"
		},
		"AzureBlobStorage1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "8aa62754-c26c-41ca-b730-a3cb74011794"
		},
		"AzureBlobStorage1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "14d976df-4267-4fd0-8afb-05682a022d5e"
		},
		"ls_deltaair_raw_datalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://deltaairlinedatalake.dfs.core.windows.net/"
		},
		"ls_deltaair_raw_datalake_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "8aa62754-c26c-41ca-b730-a3cb74011794"
		},
		"ls_deltaair_raw_datalake_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "14d976df-4267-4fd0-8afb-05682a022d5e"
		},
		"ls_AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0128-115236-sjfsekx6"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/delta_airline_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('delta_airline_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_rest_api')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_rest_api_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_rest_api_airlabs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_rest_api",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relative_path": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().relative_path",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_rest_api')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('AzureBlobStorage1_properties_typeProperties_serviceEndpoint')]",
					"tenant": "[parameters('AzureBlobStorage1_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('AzureBlobStorage1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "delta_airline_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "delta-air-blob-client-app-secret"
					},
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delta_airline_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_sql_database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_azure_sql_database_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "delta_airline_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "deltaair-azure-sqldb-pass",
						"secretVersion": "4e0ceeeef5544912a9c42b33898817ec"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delta_airline_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_deltaair_raw_datalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_deltaair_raw_datalake_properties_typeProperties_url')]",
					"tenant": "[parameters('ls_deltaair_raw_datalake_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ls_deltaair_raw_datalake_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredentialType": "ServicePrincipalKey",
					"servicePrincipalCredential": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "delta_airline_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "delta-air-blob-client-app-secret"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delta_airline_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-687768538906932.12.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "delta_airline_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "databricks-adf-token"
					},
					"existingClusterId": "[parameters('ls_AzureDatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delta_airline_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_DeltaLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-687768538906932.12.azuredatabricks.net",
					"clusterId": "0128-115236-sjfsekx6",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "delta_airline_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "databricks-adf-token"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/delta_airline_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Azure_Sql_Database_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_database",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					},
					"db_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().db_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Datalake_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_deltaair_raw_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"file_dir": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().file_dir",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_deltaair_raw_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "string"
					},
					"file_dir": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().file_dir",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob_binary_for_zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_dir": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": {
							"value": "@dataset().file_dir",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_datalake_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_deltaair_raw_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"file_dir": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().file_dir",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_deltaair_raw_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_datalake_for_zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_deltaair_raw_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_dir": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().file_dir",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_deltaair_raw_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_datalake_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_deltaair_raw_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"dir": {
						"type": "string"
					},
					"finename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().finename",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().dir",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_deltaair_raw_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup_blob_to_dlake_config_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "UNIQUE_CARRIERS.sql",
						"container": "testing"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"source_file_name": {
							"type": "string"
						},
						"source_file_dir": {
							"type": "string"
						},
						"sink_file_name": {
							"type": "string"
						},
						"sink_file_dir": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup_sql_to_dlake_config_file_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "json_sql_config.txt",
						"container": "testing"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"source_file_name": {
							"type": "string"
						},
						"source_file_dir": {
							"type": "string"
						},
						"sink_file_name": {
							"type": "string"
						},
						"sink_file_dir": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_deltalake_final_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_DeltaLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {
					"database": "deltadb",
					"table": "app_view"
				},
				"schema": [
					{
						"name": "FlightNum",
						"type": "integer"
					},
					{
						"name": "aircraft_type",
						"type": "string"
					},
					{
						"name": "manufacturer",
						"type": "string"
					},
					{
						"name": "origin_city",
						"type": "string"
					},
					{
						"name": "origin_country",
						"type": "string"
					},
					{
						"name": "dest_city",
						"type": "string"
					},
					{
						"name": "dest_country",
						"type": "string"
					},
					{
						"name": "is_delayed",
						"type": "integer"
					},
					{
						"name": "dw_load_date",
						"type": "date"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_DeltaLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FlightNum",
						"type": "int",
						"precision": 10
					},
					{
						"name": "aircraft_type",
						"type": "varchar"
					},
					{
						"name": "manufacturer",
						"type": "varchar"
					},
					{
						"name": "origin_city",
						"type": "varchar"
					},
					{
						"name": "origin_country",
						"type": "varchar"
					},
					{
						"name": "dest_city",
						"type": "varchar"
					},
					{
						"name": "dest_country",
						"type": "varchar"
					},
					{
						"name": "is_delayed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "dw_load_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "app_view"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delta_airline_ingesion_api_to_datalake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_secure_api_link",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://delta-airline-keyvault.vault.azure.net/secrets/airlabs-api-key/78040dc69f5e4b5e96393e1ae9091494?api-version=7.0",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "get_secure_api_link",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_rest_api_airlabs",
								"type": "DatasetReference",
								"parameters": {
									"relative_path": {
										"value": "@activity('get_secure_api_link').output.value",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_datalake_json",
								"type": "DatasetReference",
								"parameters": {
									"dir": {
										"value": "@concat('delta-air-raw-zone/api-data/dw_load_date=',formatDateTime(utcNow(),'yyyy-MM-dd'))",
										"type": "Expression"
									},
									"finename": {
										"value": "@concat('airlabs_api_data',formatDateTime(utcNow(),'yyyy-MM-dd'))",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-01-28T10:03:02Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_rest_api_airlabs')]",
				"[concat(variables('factoryId'), '/datasets/ds_datalake_json')]"
			]
		}
	]
}