ADF/pipeline/delta_airline_ingesion_blob_to_datalake.json
{
	"name": "delta_airline_ingesion_blob_to_datalake",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_blob_to_dlake_config_file",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().file_type,'zip')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "blob to dake copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_blob_binary",
												"type": "DatasetReference",
												"parameters": {
													"file_name": "@item().source_file_name",
													"file_dir": "@item().source_file_dir"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_datalake_binary",
												"type": "DatasetReference",
												"parameters": {
													"filename": {
														"value": "@item().sink_file_name",
														"type": "Expression"
													},
													"file_dir": {
														"value": "@concat(item().sink_file_dir,'/dw_load_date=',formatDateTime(utcnow(),'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "blob to dake copy_zip",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings",
														"preserveZipFileNameAsFolder": false
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings",
													"copyBehavior": "PreserveHierarchy"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "ds_blob_binary_for_zip",
												"type": "DatasetReference",
												"parameters": {
													"file_dir": {
														"value": "@item().source_file_dir",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().source_file_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_datalake_for_zip",
												"type": "DatasetReference",
												"parameters": {
													"file_dir": {
														"value": "@concat(item().sink_file_dir,'/dw_load_date=',formatDateTime(utcnow(),'yyyy-MM-dd'))",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-01-28T10:26:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}